* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root.dark {
    --background-color: #1e1e1e; 
    --introduction-text-color: #e0e0e0; 
    --heading-link-color: #65abfb;
    --nav-footer-background-color: #2c2c2c;
    --nav-border-color: #3a3a3a;
    --hover-link-color: #5a9bd4;
    --project-box-background-color: #2a2a2a;
    --project-box-text-color: #cac9c9; 
    --project-box-border-color: #3a3a3a;
}

:root.light {
    --background-color: #d5eaff;
    --introduction-text-color: #333333;
    --heading-link-color: #2A7DE1;
    --nav-footer-background-color: #ecf5ff;
    --nav-border-color: #E0E4E8;
    --hover-link-color: #1A5CBF;
    --project-box-background-color: #FFFFFF;
    --project-box-text-color: #555555;
    --project-box-border-color: rgb(247, 247, 244);
}

body{
    background-color:   var(--background-color);
    color: var(--introduction-text-color);
}

section {
    margin-bottom: 3%;
}

h1 {
    text-align: center;
    color: var(--heading-link-color);
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

h2 {
    max-width: 550px;
    margin-top: 2%;
    margin: 32px
}

nav, footer {
    display: flex;
    background-color: var(--nav-footer-background-color);
    padding: 20px;
    border-bottom: 2px solid var(--nav-border-color);
    align-items: center;
}
nav{
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 16px;
}

nav img, footer img {
    filter: brightness(60%);
    margin-right: 16px;
    max-width: 20px;
    height: auto;
}

footer {
    justify-content: center;
    gap: 4px;
}


nav ul {
    list-style: none;
}

ul {
    margin-left : 16px;
}

li {
    padding: 2px;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color : black;
    color: var(--heading-link-color);
}

a:hover {
    color: var(--hover-link-color);
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px 32px;
    margin: 0px 32px;
}


.project-box{
    aspect-ratio: 4 / 3;
    position: relative;
    border : 8px solid var(--project-box-border-color);
    border-radius: 10px;
    overflow: hidden; /*Hides rectangular corners of the images, so images fits into the boxes' rounded corners*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    background-color: var(--project-box-background-color);
    max-width: 420px;
}

.thumbnail, .projects-container video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /*Crop the image to cover the box while preserving aspect ratio */
}

.thumbnail{
    z-index: 1;
}

.projects-container video {
    z-index: 2; /*Video is on top of image to register mouseenter events*/
    opacity: 0;
    transition: opacity 0.3s ease;
}

.play-icon {
    display: none;
    z-index: 3;
    position: absolute;
    top: 8px;
    right: 8px;
}

.project-box.text {
    display : flex;
    flex-direction: column;
    gap : 16px;
    padding : 16px;
    color: var(--project-box-text-color);
}

.project-name {
    font-size: 2rem;
    font-weight: bold;
}
.content {
    flex-grow: 1;
}

.project-links {
    display: flex;
    justify-content: space-between;
}

.about-container{
    display : flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-picture-container {
    width: 200px;
    height: 200px;
    border: 3px solid var(--heading-link-color);
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.mail-icon {
    display: flex;
    gap: 2px;
    align-items: center;
}

.dark-mode-icon {
    cursor: pointer;
}

@media (max-width: 600px) {
    .projects-container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .project-box.text{
        margin-bottom: 32px;
        overflow-y: auto;

    }

    .project-name {
        font-size: 1.6rem;
    }

    .play-icon{
        display: block;
    }
}